<header class="header">
    <div class="logo">
      <img src="assets/logoRefa.png" alt="Logo Refaccionaria" />
    </div>
    <nav class="nav">
      <a routerLink="/inicio" routerLinkActive="active">Inicio</a>
      <a routerLink="/services" routerLinkActive="active">Servicios</a> 
      <a routerLink="/productos" routerLinkActive="active">Productos</a>
      <a routerLink="/contacto" routerLinkActive="active">Contacto</a>
      <a routerLink="/blog" routerLinkActive="active">Blog de recomendaciones</a>
    </nav>
  </header>
 