.service-details {
    background: #2c3e50;
    color: white;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .back-button {
    color: rgb(135, 188, 228);
    cursor: pointer;
    text-align: left;
    font-size: 1rem;
    margin-bottom: 20px;
  }
  
  .icon-large {
    font-size: 5rem;
    margin: 20px auto;
    padding: 20px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
  }
  